<div class="column-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_4">
      <h6 class="h6">
      </h6>
      <div class="row-layout group_5">
        <button *ngIf="showAddDashboardButton" igxButton="contained" (click)="onAddDashboard()" igxRipple class="button">
          <igx-icon>
            add
          </igx-icon>
          <span>New Dashboard</span>
        </button>
        <button *ngIf="!showAddDashboardButton" (click)="onCancel()" igxButton="contained" igxRipple class="button">
          <igx-icon>
            cancel
          </igx-icon>
          <span>Cancel</span>
        </button>
      </div>
    </div>
    <div class="row-layout group_6">
      <button (click)="toggleGroup7Visibility()" class="toggle-group7-btn">
        <div class="hamburger-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </button>
      <div class="column-layout group_7" *ngIf="isGroup7Visible">
        <igx-list class="list">
          
          <igx-list-item [isHeader]="false" *ngFor="let item of dashboardNames" (click)="listItemClick(item)"
            [ngClass]="item.selected ? 'selected' : ''" #item igxRipple igxRippleTarget=".igx-list__item-content">
            <span igxListThumbnail>
              <igx-card-media height="55px" width="100px">
                <app-dashboard-thumbnail [dashboardId]="item.dashboardFileName" /> 
              </igx-card-media>
            </span>
            <span igxListLineTitle>{{ item.dashboardTitle }}</span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="column-layout group_8">
        <div #revealView class="reveal-dash-board"></div>
      </div>
    </div>
  </div>
  <ui-dialog #cancelDialog title="Confirm Cancel">
    <h5>Are you sure you want to cancel?</h5>    
    <div slot="footer">
      <button class="rv-button-cancel" (click)="cancelDialog.close('cancel')">Cancel</button>
      <button class="rv-button" (click)="cancelDialog.close('confirm')">Confirm</button>
  </div>
  </ui-dialog>
  <app-thumbnail-dialog #linkDialog [dashboards]="availableDashboards"></app-thumbnail-dialog>
</div>
