@page "/"
@namespace DashboardViewer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashboardViewer</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link href="_content/IgniteUI.Blazor/themes/light/material.css" rel="stylesheet" />
    <link href="_content/IgniteUI.Blazor/themes/grid/light/material.css" rel="stylesheet" />
    <link href="css/ig-theme.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="DashboardViewer.styles.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Inter:wght@300;400;600;700:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet preload prefetch" as="style">


    <style>
        .Reveal-Thumbnail-Box {
            position: relative;
            z-index: 0;
            background-color: lightblue;
            font-weight: normal;
            font-size: medium;
            height: 125px;
            width: 200px;
            padding: 10px;
            margin: 15px;
            cursor: pointer;
        }

        .modal {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
    </style>

</head>
<body class="ig-scrollbar">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://dl.revealbi.io/reveal/libs/1.6.6/infragistics.reveal.js"></script>
    <script type="module">
        import "./js/revealview.js";
    </script>
    <script src="_content/IgniteUI.Blazor/app.bundle.js"></script>
    <script src="_framework/blazor.server.js"></script>


</body>
</html>


